# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/
.packages
pubspec.lock
**/android/.gradle/
**/ios/Pods/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.dylib

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# macOS specific
*.DS_Store

# Build outputs
*.apk
*.aab
*.app
*.ipa
*.dSYM/

# Test coverage
coverage/
